*.iml
.gradle
/local.properties
.idea

*.apk

.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
.kotlin

# IOS
xcuserdata
captures
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# KMP
.fleet

secrets.env

