# Root
.idea
.kotlin
.gradle
local.properties
build
# Components
components/device/bridge/config/api/build
components/device/bridge/config/impl/build
components/device/bridge/connectionbuilder/api/build
components/device/bridge/connectionbuilder/impl/build
components/device/bridge/device/bsb/api/build
components/device/bridge/device/bsb/impl/build
components/device/bridge/device/common/api/build
components/device/bridge/device/common/impl/build
components/device/bridge/common/bsb/api/build
components/device/bridge/common/bsb/impl/build
components/device/bridge/orchestrator/api/build
components/device/bridge/orchestrator/impl/build
components/device/bridge/service/api/build
components/device/bridge/service/impl/build
components/device/bridge/transport/ble/api/build
components/device/bridge/transport/ble/impl/build
components/device/bridge/transport/common/api/build
components/device/bridge/transport/common/impl/build
components/device/bridge/transport/mock/api/build
components/device/bridge/transport/mock/impl/build
components/device/bridge/transportconfigbuilder/api/build
components/device/bridge/transportconfigbuilder/impl/build
# bridge-feature
components/device/bridge/feature/battery/api/build
components/device/bridge/feature/battery/impl/build
components/device/bridge/feature/common/api/build
components/device/bridge/feature/common/impl/build
components/device/bridge/feature/firmware-update/api/build
components/device/bridge/feature/firmware-update/impl/build
components/device/bridge/feature/info/api/build
components/device/bridge/feature/info/impl/build
components/device/bridge/feature/link/api/build
components/device/bridge/feature/link/impl/build
components/device/bridge/feature/provider/api/build
components/device/bridge/feature/provider/impl/build
components/device/bridge/feature/rpc/api/build
components/device/bridge/feature/rpc/impl/build
components/device/bridge/feature/screen-streaming/api/build
components/device/bridge/feature/screen-streaming/impl/build
components/device/bridge/feature/screen-streaming/compose/build
components/device/bridge/feature/sync/api/build
components/device/bridge/feature/sync/impl/build
components/device/bridge/feature/wifi/api/build
components/device/bridge/feature/wifi/impl/build

components/di/build
components/ktx/build
components/log/build

components/principal/api/build
components/principal/impl/build